<!Doctype html>
<html lang="ko">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>

        <!-- 구글폰트 -->
        <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


        <title>전원 가능한 병원 어디? </title>

         <!-- style -->
        <style type="text/javascript">
            * {
                font-family: "Stylish", sans-serif;
            }

        </style>
        <script>
        $(document).ready(function () {

            let areas = ["강남구", "강동구", "강북구", "강서구", "관악구", "광진구", "구로구", "금천구", "노원구", "도봉구", "동대문구",
                "동작구", "마포구", "서대문구", "서초구", "성동구", "성북구", "송파구", "양천구", "영등포구", "용산구", "은평구", "종로구",
                "중구", "중랑"];
            for (let i = 0; i < areas.length; i++) {
                $("#inputGroupSelect01").append(`<option value=${areas[i]}>${areas[i]}</option>`);
            }
        });

        function emptyBed() {
            $('#inputGroupSelect02').empty();

            console.log($('#inputGroupSelect01').val());
            let selectedRegion = $('#inputGroupSelect01').val();
            $.ajax({
                type: "GET",
                url: `/emptybed?regiona=${selectedRegion}`,
                data: {},
                success: function (response ) {
                    console.log(response);
                   let beds=response['beds_list']
                    console.log(beds);
                    for (let i=0; i<beds.length;i++) {
                        console.log(beds[i]);
                        let bed = beds[i];
                        showHospitalName(bed);
                    }
                }
            });
        };

        // function showHospitalName(hospitalName) {
        //     $("#inputGroupSelect02").append(`<option value=${hospitalName}>${hospitalName}</option>`)
        // }

         function showHospitalName(bed) {
             console.log("bed", bed);
                let tempHtml = `<tr>
                        <td>${bed.hospitalName}</td>
                        <td>${bed.ER}</td>
                        <td>${bed.dutycall}</td>
                    </tr>`;
                $("#inputGroupSelect02").append(tempHtml);
            };
         </script>

    </head>
    <body>
     <h1> 지금 전원 가능한 병원 </h1>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">지역</label>
        </div>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
        <option selected>지역을 선택하세요 </option>
        </select>

        <button type="button" onclick="emptyBed()" class="btn btn-lg btn-primary">Primary button</button>
        <div class="beds">
                <table class="table">
                     <thead id="inputGroupSelect03">
                    <tr>
                        <th scope="col">병원 </th>
                        <th scope="col">빈자리 </th>
                        <th scope="col">전화번호 </th>
                    </tr>
                    </thead>
                    <thead id="inputGroupSelect02">
                    </thead>

                </table>
            </div>
    </body>
</html>